<?xml version="1.0" encoding="UTF-8"?>
<system name="test">
  <module name="{{ entity_name }}_0" kind="{{ entity_name }}" version="{{ version | default('1.0') }}" enabled="1" />
  <interface name="{{ entity_name }}_0_{{ clock_port }}" internal="{{ entity_name }}_0.{{ clock_port }}" type="clock" dir="end" />
  <interface name="{{ entity_name }}_0_{{ reset_port }}" internal="{{ entity_name }}_0.{{ reset_port }}" type="reset" dir="end" />
{% for clk in secondary_clocks %}
  <interface name="{{ entity_name }}_0_{{ clk.name }}" internal="{{ entity_name }}_0.{{ clk.name }}" type="clock" dir="end" />
{% endfor %}
{% for rst in secondary_resets %}
  <interface name="{{ entity_name }}_0_{{ rst.name }}" internal="{{ entity_name }}_0.{{ rst.name }}" type="reset" dir="end" />
{% endfor %}
{% for iface in expanded_bus_interfaces %}
  <interface name="{{ entity_name }}_0_{{ iface.name }}" internal="{{ entity_name }}_0.{{ iface.name }}" type="{{ iface.altera_type }}" dir="{{ 'end' if (iface.altera_type == 'conduit' or iface.mode in ['slave', 'sink']) else 'start' }}" />
{% endfor %}
{% for intr in interrupt_ports %}
  <interface name="{{ entity_name }}_0_{{ intr.name }}" internal="{{ entity_name }}_0.{{ intr.name }}" type="interrupt" dir="{{ 'end' if intr.direction == 'out' else 'start' }}" />
{% endfor %}
</system>
